In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load csv pre-processed CSV data as DataFrame
data = pd.read_csv("../data/output.csv")

df = pd.DataFrame(data)
df.head()

,Unnamed: 0,kepid,kepoi_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_model_snr,koi_steff,koi_slogg,koi_srad
0,0,10797460,K00752.01,CONFIRMED,CANDIDATE,1.000,0,0,0,0,9.488036,0.146,2.95750,615.8,2.26,793.0,35.8,5455.0,4.467,0.927
1,1,10797460,K00752.02,CONFIRMED,CANDIDATE,0.969,0,0,0,0,54.418383,0.586,4.50700,874.8,2.83,443.0,25.8,5455.0,4.467,0.927
2,2,10811496,K00753.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,19.899140,0.969,1.78220,10829.0,14.60,638.0,76.3,5853.0,4.544,0.868
3,3,10848459,K00754.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,1.736952,1.276,2.40641,8079.2,33.46,1395.0,505.6,5805.0,4.564,0.791
4,4,10854555,K00755.01,CONFIRMED,CANDIDATE,1.000,0,0,0,0,2.525592,0.701,1.65450,603.3,2.75,1406.0,40.9,6031.0,4.438,1.046

In [3]:
df = df.drop(columns=["Unnamed: 0"])
df.head()

,kepid,kepoi_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_model_snr,koi_steff,koi_slogg,koi_srad
0,10797460,K00752.01,CONFIRMED,CANDIDATE,1.000,0,0,0,0,9.488036,0.146,2.95750,615.8,2.26,793.0,35.8,5455.0,4.467,0.927
1,10797460,K00752.02,CONFIRMED,CANDIDATE,0.969,0,0,0,0,54.418383,0.586,4.50700,874.8,2.83,443.0,25.8,5455.0,4.467,0.927
2,10811496,K00753.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,19.899140,0.969,1.78220,10829.0,14.60,638.0,76.3,5853.0,4.544,0.868
3,10848459,K00754.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,1.736952,1.276,2.40641,8079.2,33.46,1395.0,505.6,5805.0,4.564,0.791
4,10854555,K00755.01,CONFIRMED,CANDIDATE,1.000,0,0,0,0,2.525592,0.701,1.65450,603.3,2.75,1406.0,40.9,6031.0,4.438,1.046

In [4]:
df["koi_disposition"].value_counts()

FALSE POSITIVE    3922
CONFIRMED         2281
CANDIDATE         1792
Name: koi_disposition, dtype: int64

In [5]:
df_dummies = pd.get_dummies(df["koi_disposition"])
df_dummies.head()

   CANDIDATE  CONFIRMED  FALSE POSITIVE
0          0          1               0
1          0          1               0
2          0          0               1
3          0          0               1
4          0          1               0

In [10]:
df = df.merge(df_dummies, left_index=True, right_index=True, how="outer")

In [11]:
df

,kepid,kepoi_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,...,koi_depth,koi_prad,koi_teq,koi_model_snr,koi_steff,koi_slogg,koi_srad,CANDIDATE,CONFIRMED,FALSE POSITIVE
0,10797460,K00752.01,CONFIRMED,CANDIDATE,1.000,0,0,0,0,9.488036,...,615.8,2.26,793.0,35.8,5455.0,4.467,0.927,0,1,0
1,10797460,K00752.02,CONFIRMED,CANDIDATE,0.969,0,0,0,0,54.418383,...,874.8,2.83,443.0,25.8,5455.0,4.467,0.927,0,1,0
2,10811496,K00753.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,19.899140,...,10829.0,14.60,638.0,76.3,5853.0,4.544,0.868,0,0,1
3,10848459,K00754.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,1.736952,...,8079.2,33.46,1395.0,505.6,5805.0,4.564,0.791,0,0,1
4,10854555,K00755.01,CONFIRMED,CANDIDATE,1.000,0,0,0,0,2.525592,...,603.3,2.75,1406.0,40.9,6031.0,4.438,1.046,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,10031643,K07984.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,1,8.589871,...,87.7,1.11,929.0,8.4,5638.0,4.296,1.088,0,0,1
7991,10090151,K07985.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,0,0.527699,...,1579.2,29.35,2088.0,453.3,5638.0,4.529,0.903,0,0,1
7992,10128825,K07986.01,CANDIDATE,CANDIDATE,0.497,0,0,0,0,1.739849,...,48.5,0.72,1608.0,10.6,6119.0,4.444,1.031,1,0,0
7993,10147276,K07987.01,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,0,0.681402,...,103.6,1.07,2218.0,12.3,6173.0,4.447,1.041,0,0,1
7994,10156110,K07989.01,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,1,4.856035,...,76.7,1.05,1266.0,8.2,6469.0,4.385,1.193,0,0,1

In [12]:
# Assign X (data) and y (target)

X = df[["CANDIDATE",
        "CONFIRMED", 
        "FALSE POSITIVE",
        "koi_period",
        "koi_impact",
        "koi_duration",
        "koi_depth",
        "koi_prad"
       ]]
y = df["koi_score"].values.reshape(-1,1)

print(X.shape, y.shape)

(7995, 8) (7995, 1)

In [13]:
# Split the data into training and testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
from sklearn.preprocessing import MinMaxScaler

# Create a StandardScater model and fit it to the training data

X_scaler = MinMaxScaler().fit(X_train)
y_scaler = MinMaxScaler().fit(y_train)

In [16]:
# Transform the training and testing data using the X_scaler and y_scaler models

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)